<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>新增数据</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-staff-product-add">

<!--        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>负责人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select id="productUser" class="select" style="width: 22%;height:32px ;display: inline-block"
                        onchange="bindMachine()">
                    <option disabled selected hidden>请选择负责人</option>
                </select>
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机器：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select id="productMachine" class="select" style="width: 22%;height:32px ;display: inline-block">
                    <option disabled selected hidden>请选择机器</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>物料：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select id="productMaterial" class="select" style="width: 22%;height:32px ;display: inline-block">
                    <option disabled selected hidden>请选择物料</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>物料重量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入投入物料重量" id="productMaterialWeight"
                       name="productMaterialWeight">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>产品名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入产品名称" id="productOutName"
                       name="productOutName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>产品重量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入投入产品重量" id="productOutWeight"
                       name="productOutWeight">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/fillFrom.js"></script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //下拉选择框获取所有员工
        // $.ajax({
        //     type: 'POST',
        //     url: "../../admin/getAllStaff.json",
        //     cache: false,
        //     async: false,
        //     dataType: "json",
        //     contentType: "application/json;charset=utf-8",
        //     success: function (data) {
        //         console.log(data);
        //         var productUser = $("#productUser");
        //
        //         //防止数据重复添加
        //         if (productUser.find("option:last").index() > 1) {
        //             productUser.empty();
        //             productUser.append("<option disabled selected hidden >请选择负责人</option>")
        //         }
        //
        //         //给select追加数据
        //         var len = data.length;
        //         for (var i = 0; i < len; i++) {
        //             var option = document.createElement('option');
        //             option.innerText = data[i]['username'];
        //             option.value = data[i]['userId'];
        //             productUser.append(option);
        //         }
        //
        //     },
        //     error: function (errorThrown) {
        //         layer.msg('error!', {icon: 1, time: 1000});
        //     }
        // });
        var userObj = JSON.parse(localStorage.getItem("user"));
        let user = {
            userId: userObj.userId
        };
        $.ajax({
            type: 'POST',
            url: "../../admin/getMachineByUser.json",
            data: JSON.stringify(user),
            cache: false,
            async: false,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                console.log(data);
                var productMachine = $("#productMachine");

                //防止数据重复添加
                if (productMachine.find("option:last").index() > 1) {
                    productMachine.empty();
                    productMachine.append("<option disabled selected hidden >请选择机器</option>")
                }

                //给select追加数据
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    var option = document.createElement('option');
                    option.innerText = data[i]['machineName'];
                    option.value = data[i]['machineId'];
                    productMachine.append(option);
                }

            },
            error: function (errorThrown) {
                layer.msg('error!', {icon: 1, time: 1000});
            }
        });

        //下拉框实现获取所有物料
        $.ajax({
            type: 'POST',
            url: "../../admin/getAllMaterials.json",
            cache: false,
            async: false,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
                var productMaterial = $("#productMaterial");

                //防止数据重复添加
                if (productMaterial.find("option:last").index() > 1) {
                    productMaterial.empty();
                    productMaterial.append("<option disabled selected hidden >请选择物料</option>")
                }

                //给select追加数据
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    var option = document.createElement('option');
                    option.innerText = data[i]['materialName'];
                    option.value = data[i]['materialId'];
                    productMaterial.append(option);
                }

            },
            error: function (errorThrown) {
                layer.msg('error!', {icon: 1, time: 1000});
            }
        });

        $("#form-staff-product-add").validate({
            rules: {
                productUser: {
                    required: true
                },

                productMachine: {
                    required: true
                },
                productMaterial: {
                    required: true
                },
                productMaterialWeight: {
                    required: true
                },
                productOutName: {
                    required: true
                },
                productOutWeight: {
                    required: true
                }
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {

                var formData = form2JsonObject("form-staff-product-add");
                formData = Object.assign(formData, {"productUserId": $("#productUser").val()});
                formData = Object.assign(formData, {"productMachineId": $("#productMachine").val()});
                formData = Object.assign(formData, {"productMaterialId": $("#productMaterial").val()});

                console.log(formData);

                $.ajax({
                    type: 'POST',
                    url: "../../staff/addProduct.json",
                    data: JSON.stringify(formData),
                    cache: false,
                    async: false,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {

                        if (data === 0) {
                            layer.msg('添加失败，系统错误', {icon: 2, time: 1000});
                        }
                        if (data === 1) {
                            layer.msg('添加成功!', {icon: 1, time: 1000});

                            parent.$("#refresh i").click();
                            var index = parent.layer.getFrameIndex(window.name);
                            setTimeout(function () {
                                parent.layer.close(index);
                            }, 500);
                        }
//                        if (data === 2) {
//                            layer.msg('机器名称重复! 请重新输入!', {icon: 2, time: 1000});
//                            $("#machineName").val("");
//                        }

                    },
                    error: function (errorThrown) {
                        layer.msg('error!', {icon: 1, time: 1000});
                    }
                });

            }
        });
    });



</script>
</body>
</html>
